<template>
  <a-list item-layout="horizontal">
    <a-list-item>
      <a-list-item-meta>
        <template #title>
          <a>风格配色</a>
        </template>
        <template #description>
          <span> 整体风格配色设置 </span>
        </template>
      </a-list-item-meta>
      <template #actions>
        <a-switch
          checked-children="暗色"
          un-checked-children="白色"
          :default-checked="(navTheme === 'dark' && true) || false"
          @change="onChange"
        />
      </template>
    </a-list-item>
    <a-list-item>
      <a-list-item-meta>
        <template #title>
          <a>主题色</a>
        </template>
        <template #description>
          <span>
            页面风格配色： <a>{{ colorFilter(primaryColor) }}</a>
          </span>
        </template>
      </a-list-item-meta>
    </a-list-item>
  </a-list>
</template>
<script>
import { colorList } from '@/components/SettingDrawer/settingConfig';
import { baseMixin } from '@/store/app-mixin';
import { NAV_THEME, TOGGLE_NAV_THEME } from '@/store/mutation-types';

const themeMap = {
  dark: '暗色',
  light: '白色',
};

export default {
  filters: {
    themeFilter(theme) {
      return themeMap[theme];
    },
  },
  mixins: [baseMixin],
  data() {
    return {};
  },
  methods: {
    colorFilter(color) {
      const c = colorList.find(o => o.color === color);
      return c && c.key;
    },

    onChange(checked) {
      if (checked) {
        this.$store.commit(TOGGLE_NAV_THEME, NAV_THEME.DARK);
      } else {
        this.$store.commit(TOGGLE_NAV_THEME, NAV_THEME.LIGHT);
      }
    },
  },
};
</script>
