<template>
  <pro-layout
    :menus="menus"
    :collapsed="collapsed"
    :media-query="query"
    :is-mobile="isMobile"
    :handle-media-query="handleMediaQuery"
    :handle-collapse="handleCollapse"
    :i18n-render="i18nRender"
    v-bind="settings"
  >
    <template #menuHeaderRender>
      <div>
        <logo-svg />
        <h1>{{ title }}</h1>
      </div>
    </template>

    <template #headerContentRender>
      <div>
        <a-tooltip title="刷新页面">
          <a-icon
            type="reload"
            style="font-size: 18px; cursor: pointer"
            @click="
              () => {
                $message.info('只是一个DEMO');
              }
            "
          />
        </a-tooltip>
      </div>
    </template>
    <template #rightContentRender>
      <right-content
        :top-menu="settings.layout === 'topmenu'"
        :is-mobile="isMobile"
        :theme="settings.theme"
      />
    </template>
    <!-- custom footer / 自定义Footer -->
    <template #footerRender>
      <global-footer />
    </template>
    <router-view />
  </pro-layout>
</template>

<script>
import { updateTheme } from '@ant-design-vue/pro-layout';
import { i18nRender } from '@/locales';
import { mapState } from 'vuex';
import {
  CONTENT_WIDTH_TYPE,
  SIDEBAR_TYPE,
  TOGGLE_MOBILE_TYPE,
} from '@/store/mutation-types';

import defaultSettings from '@/config/defaultSettings';
import RightContent from '@/components/GlobalHeader/RightContent';
import GlobalFooter from '@/components/GlobalFooter';
import Ads from '@/components/Other/CarbonAds';
import LogoSvg from '../assets/logo.svg?inline';

export default {
  name: 'BasicLayout',
  components: {
    RightContent,
    GlobalFooter,
    LogoSvg,
    Ads,
  },
  data() {
    return {
      menus: [],
      collapsed: true,
      title: defaultSettings.title,
      settings: {
        layout: defaultSettings.layout,
        contentWidth:
          defaultSettings.layout === 'sidemenu'
            ? CONTENT_WIDTH_TYPE.Fluid
            : defaultSettings.contentWidth,
        theme: defaultSettings.navTheme,

        primaryColor: defaultSettings.primaryColor,
        fixedHeader: defaultSettings.fixedHeader,
        fixSiderbar: defaultSettings.fixSiderbar,
        colorWeak: defaultSettings.colorWeak,

        hideHintAlert: false,
        hideCopyButton: false,
      },
      query: {},
      isMobile: false,
    };
  },
  computed: {
    ...mapState({
      mainMenu: state => state.permission.addRouters,
    }),
  },
  created() {
    const routes = this.mainMenu.find(item => item.path === '/');
    this.menus = (routes && routes.children) || [];
    this.$watch('collapsed', () => {
      this.$store.commit(SIDEBAR_TYPE, this.collapsed);
    });
    this.$watch('isMobile', () => {
      this.$store.commit(TOGGLE_MOBILE_TYPE, this.isMobile);
    });
  },
  mounted() {
    const userAgent = navigator.userAgent;
    if (userAgent.indexOf('Edge') > -1) {
      this.$nextTick(() => {
        this.collapsed = !this.collapsed;
        setTimeout(() => {
          this.collapsed = !this.collapsed;
        }, 16);
      });
    }

    if (process.env.NODE_ENV !== 'production') {
      updateTheme(this.settings.primaryColor);
    }
  },
  methods: {
    i18nRender,
    handleMediaQuery(val) {
      this.query = val;
      if (this.isMobile && !val['screen-xs']) {
        this.isMobile = false;
        this.collapsed = true;
        return;
      }
      if (!this.isMobile && val['screen-xs']) {
        this.isMobile = true;
        this.collapsed = true;
        this.settings.contentWidth = CONTENT_WIDTH_TYPE.Fluid;
        // this.settings.fixSiderbar = false
      }
    },
    handleCollapse(val) {
      this.collapsed = val;
    },
  },
};
</script>

<style lang="less">
@import './BasicLayout.less';
</style>
