@import "~ant-design-vue/es/style/themes/default.less";

.ant-layout-sider {
  .ant-pro-sider-menu-logo,
  .ant-menu{
    background: @primary-color !important;
    .ant-menu-sub{
      background: tint(@primary-color, 20%) !important;
    }


  }
  .ant-menu-submenu-selected {
    color: #fff !important;
  }

  &.ant-layout-sider-collapsed {
    .ant-menu-submenu-title {
      padding: 0 28px !important;
    }

    i {
      font-size: 25px !important;
    }
  }
}



.ant-pro-global-header-index-right {
  margin-right: 8px;

  &.ant-pro-global-header-index-dark {
    .ant-pro-global-header-index-action {
      color: hsla(0, 0%, 100%, .85);

      &:hover {
        background: #1890ff;
      }
    }
  }

  .ant-pro-account-avatar {
    .antd-pro-global-header-index-avatar {
      margin: ~'calc((@{layout-header-height} - 24px) / 2)' 0;
      margin-right: 8px;
      color: @primary-color;
      vertical-align: top;
      background: rgba(255, 255, 255, 0.85);
    }
  }

  .menu {
    .anticon {
      margin-right: 8px;
    }

    .ant-dropdown-menu-item {
      min-width: 100px;
    }
  }
}

